{% if streamingUrl %}
  <a href="{{streamingUrl}}" target="blank" class="en-vivo">
    ⚡️⚡️⚡️<wbr>Transmisión en Vivo<wbr>⚡️⚡️⚡️
    <div id="regresivo" class="cuenta-regresiva"></div>
  </a>
{% else %}
  <span class="casi-en-vivo">
    Dentro de Poco
    <div id="regresivo" class="cuenta-regresiva"></div>
  </span>
{% endif %}
