@import 'normalize.css/normalize.css'
@import 'typography'
@import 'icomoon'
@import 'var'

// Share
// -----------------

.centered
	max-width: 600px
	margin: auto
	padding: 0 40px

.green-button
	background: $color-links
	color: $white
	border: none
	height: 100%
	width: 120px
	cursor: pointer
	outline: none
	font-family: $title-font
	font-size: 22px
	font-weight: 100
	letter-spacing: 1px

	&:hover
		background: $lighter-blue

//------------------

header
	height: 100vh
	background: $purple
	text-align: center
	background: linear-gradient(to bottom,  $purple 0%, $lighter-purple 100%)
	position: relative
	background-attachment: fixed

	&.small
		height: 60px
		margin-bottom: 4.5rem
		background: linear-gradient(-45deg, $purple 0, $lighter-purple 100%)

		.logo
			width: 29px
			left: 33px
			top: 33px

.header__date-time
  color: $white
  font-weight: 100
  -webkit-font-smoothing: antialiased
  font-size: 0.8rem

.top-bar
	height: 62px
	text-align: right
	padding: 20px
	box-sizing: border-box
	background: transparent
	width: 100%
	-webkit-transition: background 0.3s
	transition: background 0.3s

	.twitter-link
		float: right
		color: $white
		font-size: 25px
		margin-left: 10px
		font-size: 21px

		&:hover
			color: $color-links

	.__slackin
		float: right
		z-index: 12

		button 
			color: $purple


.logo
	width: 140px
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.en-vivo,
.casi-en-vivo
	background: lighten($purple, 8%)
	padding: .8rem .8rem .6rem
	border-radius: 3px
	color: $white
	font-weight: 400
	letter-spacing: 2px
	border: 3px solid darken($purple, 1%)
	position: absolute
	top: 50%
	margin-top: 130px
	transform: translateX(-50%)
	animation: live 1s linear infinite

	&:hover
		color: $white
		border-color: $color-links

	.cuenta-regresiva
		padding-top: 0.4rem
		font-weight: 100
		font-size: 0.9rem

.casi-en-vivo
  animation: none
  cursor: default

  &:hover
    color: $white
    border-color: darken($purple, 10%)

@keyframes live
	0%
		opacity: 1
	50%
		opacity: 0.5
	100%
		opacity: 1


.down-arrow
	position: absolute
	bottom: 26px
	left: 50%
	margin-left: -25px
	cursor: pointer
	opacity: 0.6
	animation: levitate 1s alternate infinite

	&:hover
		opacity: 1

@keyframes levitate
	0%
		transform: translateY(0px)
	100%
		transform: translateY(-6px)

.description-wrapper
	padding: 60px 50px

	&:after
		width: 80px
		height: 4px
		background: $blue
		content: ''
		position: absolute
		left: 50%
		margin-left: -40px
		z-index: -1

	h3
		text-align: center
		color: #313131

	p
		font-size: 18px
		color: #313131
		text-align: center
		padding: 0 5%
		margin-bottom: 32px

		a 
			border-bottom: solid 2px

		&.caption
			font-size: 0.8rem
			color: lighten(#313131,50%)

.description-wrapper--edicion
  padding-bottom: 1.5rem

  &:after
    display: none


.speakers
	padding: 50px 40px

.speaker
	display: flex
	align-items: center
	margin-bottom: 50px

.speaker__image
	width: 140px
	height: 140px
	background: #e2e2e2
	border-radius: 70px
	overflow: hidden

	img
		width: 100%

.speaker__description-talk
	flex: 1
	margin-left: 30px
	color: #666

	.block
		background: #e2e2e2
		height: 8px
		margin-bottom: 12px

.speaker__title
  font-size: 1.4rem
  line-height: 1.2
  font-weight: 600
  color: $lighter-purple
  font-family: $title-font
  text-transform: uppercase
  letter-spacing: 0.3px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0

  & > a
    color: $purple
    display: inline-block
    margin-left: 0.5rem
    font-size: 0.9em

.speaker__speaker-name
	font-size: 1.1rem
	line-height: 1.4
	margin: 0.3rem 0
	font-family: $title-font
	cursor: pointer
	color: $color-links
	font-weight: 600

.speaker__description
	line-height: 1.4
	font-family: $paragraph-font
	color: #313131
	font-weight: 100
	margin: 7px 0 0

.speaker__title--placeholder
	width: 60%

.speaker__speaker-name--placeholder
	width: 50%

.speaker__description--placeholder
	width: 100%

footer
	padding: 86px 0 50px
	box-sizing: border-box
	background: $purple
	text-align: center
	background: linear-gradient(to bottom,  $purple 0%, $lighter-purple 100%)

	h2
		font-size: 42px
		color: $white
		margin: 0
		margin-bottom: 23px
		font-weight: 100
		-webkit-font-smoothing: antialiased

.subscription-text
	color: $white
	margin-bottom: 30px

.suscription-wrapper__field
	width: 100%
	height: 50px
	display: flex
	background: $white

	.mc-field-group
		flex: 1
		height: 50px

	input.email
		height: 100%
		box-sizing: border-box
		width: 100%
		padding: 0 16px
		outline: none
		font-size: 17px
		font-family: $paragraph-font

		&::-webkit-input-placeholder
			font-weight: 100

		&:-moz-placeholder
			font-weight: 100

		&::-moz-placeholder
			font-weight: 100

		&:-ms-input-placeholder
			font-weight: 100

	.green-button
		height: 50px


// Edition List
.edition-list
  background: $light-gray
  margin: auto
  padding: 5rem 2rem

  h2
    text-align: center
    margin: 0 0 2.5rem
    color: $lighter-purple
    font-size: 1.8rem

.edition-item
  display: block
  max-width: 500px
  margin: auto
  padding: 2rem
  background: $white
  box-shadow: 0 1px 5px rgba(0,0,0,0.2)
  
  & + .edition-item
    margin-top: 1.2rem
  
  &:hover
    background: #fdfdfd

.edition-item__version
  margin: 0
  color: $black
  font-size: 1.2rem
  margin-right: 0.7rem


.edition-item__date
  font-style: italic
  font-weight: 100
  font-size: 0.9rem
  margin-top: 0.4rem
  margin-bottom: 0.2rem
  color: #aaa


.edition-item__charlantes
  padding: 0.3rem 0 0
  font-weight: normal
  line-height: 1.4
  font-size: 0.9rem
  
.edition-item__charlante
  display: inline-block

  &+.edition-item__charlante
    margin-left: 0.1rem

  &:hover
    text-decoration: underline

.edition-item__title
  font-weight: 100
  color: #555

// Edition Page
.edition__vertion
  margin-bottom: -2.5rem
  color: $lighter-purple
  font-size: 2.7rem

.edition__details
  text-align: center
  padding-top: 1rem
  
  & > a
    font-size: 0.9rem
    display: inline-block

    & + a
      margin-left: 1rem

.edition__iframe
  border: none
  margin: 1.5rem 0

.edition__video
  color:  #E62117

  .icon-youtube
    font-size: 1.5em
    display: inline-block
    vertical-align: middle
    position: relative
    top: -0.1em
    margin-right: 0.2rem

.edition__paper
  color:  #0070E0

  .icon-paper
    font-size: 1.2em
    display: inline-block
    vertical-align: middle
    position: relative
    top: -0.1em
    margin-right: 0.2rem
