<header class="small">
  <a class="logo" href="/">  
    {% include "partials/logo-only.svg" %}
  </a>
  <div class="top-bar">
  <a href="https://www.youtube.com/channel/UCFCdYQmAUSrpCNzpnd6NKYw" class="youtube-link"><span class="icon-youtube"></span></a>
	<a href="https://twitter.com/quecharla" class="twitter-link"><span class="icon-twitter"></span></a>
	<script async defer src="http://slack.char.la/slackin.js"></script>
  </div>
</header>