{% import "partials/edition-date-time.njk" as editionDT %}
{% extends "layout/base.njk" %}

{% block header %}
  <header>
    <div class="top-bar">
      <a href="https://twitter.com/quecharla" class="twitter-link"><span class="icon-twitter"></span></a>
      <script async defer src="http://slack.char.la/slackin.js"></script>
    </div>
    <div class="logo">
      {% include "partials/logo.svg" %}
    </div>
    <svg enable-background="new 0 0 50 50" id='scroll-header' class="down-arrow" height="30px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="30" width="40"/><polygon fill="white" points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 "/></svg>
  </header>
{% endblock %}

{% block content %}
  <div class="centered description-wrapper" {% if not proximaEdicion.yaPaso %}data-next-date="{{ proximaEdicion.fechaString }}"{% endif %} {% if proximaEdicion.streamingUrl %}data-streaming-url="{{proximaEdicion.streamingUrl}}"{% endif %}>
    <h3>Nos {% if proximaEdicion.yaPaso %}vimos{% else %}vemos{% endif %} aquí el {{ editionDT.getEditionDateHumanized(proximaEdicion, meses) }}</h3>
    <p>Char.la es un Meetup virtual de conocimiento técnico avanzado en español. Una vez al mes tendremos tres charlas técnicas sobre software en español.</p>
    <p>Nos regimos por el <a href="/codigo-de-conducta">código de conducta de char.la</a></p>
    <p class="caption">Somos un evento comunitario y sin ánimo de lucro.</p>
  </div>
  {% include "partials/charlantes.njk" %}
  {% include "partials/previous-versions.njk" %}
{% endblock %}
