{% extends "layout/base.njk" %}

{% block header %}
  <header>
    <div class="top-bar">
      <a href="https://twitter.com/quecharla" class="twitter-link"><span class="icon-twitter"></span></a>
      <script async defer src="http://slack.char.la/slackin.js"></script>
    </div>
    <div class="logo">
      {% include "partials/logo.svg" %}
    </div>
    <a href="http://bit.ly/charla-v1" target="blank" class="en-vivo">⚡️⚡️⚡️<wbr>Transmisión en Vivo<wbr>⚡️⚡️⚡️<div id="regresivo"></div></a>
    <script>
      (function(){
        var transmisión = new Date('2016-11-15T20:00:00-05:00'),
            ahora = new Date()
        if (ahora < transmisión) {
          var regresivo = document.querySelector('#regresivo')
          regresivo.className = 'cuenta-regresiva'
          var intérvalo = setInterval(function () {
            var ahora = new Date()
            if (ahora < transmisión) {
              var diferencia = ~~((transmisión - ahora) / 1000)
              var segs = 0, mins = 0, minsS = '00:', hors = 0, horsS = '00:'
              if (diferencia >= 60 * 60) {
                hors = ~~(diferencia / (60 * 60))
                horsS = twoDigit(hors) + ':'
              }
              if (diferencia >= 60) {
                diferencia = diferencia - hors * 60 * 60
                mins = ~~(diferencia / 60)
                minsS = twoDigit(mins) + ':'
              }

              segs = diferencia - hors * 60 * 60 - mins * 60 

              regresivo.innerHTML = horsS + minsS + twoDigit(segs)
            } else {
              clearInterval(intérvalo)
              regresivo.style.display = 'none'
            }
          })
        }
        function twoDigit (num) {
          return ('0' + num).slice(-2)
        }
      }())
    </script>
    <svg enable-background="new 0 0 50 50" id='scroll-header' class="down-arrow" height="30px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="30" width="40"/><polygon fill="white" points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 "/></svg>
  </header>
{% endblock %}

{% block content %}
  <div class="centered description-wrapper">
    <h3>Nos vemos aquí el {{ edicion.fecha.getDate() }} de {{meses[edicion.fecha.getMonth()]}} a las 8:00PM COT</h3>
    <p>Char.la es un Meetup virtual de conocimiento técnico avanzado en español. Una vez al mes tendremos tres charlas técnicas sobre software en español.</p>
    <p>Nos regimos por el <a href="/codigo-de-conducta">código de conducta de char.la</a></p>
    <p class="caption">Somos un evento comunitario y sin ánimo de lucro.</p>
  </div>
  {% include "partials/charlantes.njk" %}
{% endblock %}
