<html>
<head>
  <meta charset="UTF-8"/>
  <title>Banners de la Char.la</title>
  <style>
    canvas {
      width: 440px;
      height: 160px;
    }
    canvas.telon {
      width: 1280px;
      height: 720px;
    }
    img {
      display: block;
      margin: 30px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
</head>
<body 
  data-charlantes='{{ proximaEdicion.charlantes | dump }}'
  data-fecha='{{ proximaEdicion.fechaString }}'
  data-version='{{ proximaEdicion.version }}'>
  <script src="/js/banners.js"></script>
</body>
</html>
